<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuan.wojwebservice.mapper.ProblemMapper">

    <resultMap id="BaseResultMap" type="com.chuan.wojmodel.pojo.entity.Problem">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="problemId" column="problem_id" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="author" column="author" jdbcType="VARCHAR"/>
        <result property="timeLimit" column="time_limit" jdbcType="INTEGER"/>
        <result property="memoryLimit" column="memory_limit" jdbcType="INTEGER"/>
        <result property="stackLimit" column="stack_limit" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="source" column="source" jdbcType="VARCHAR"/>
        <result property="difficulty" column="difficulty" jdbcType="TINYINT"/>
        <result property="auth" column="auth" jdbcType="TINYINT"/>
        <result property="judgeMode" column="judge_mode" jdbcType="VARCHAR"/>
        <result property="spjCode" column="spj_code" jdbcType="VARCHAR"/>
        <result property="spjLanguage" column="spj_language" jdbcType="VARCHAR"/>
        <result property="modifiedUser" column="modified_user" jdbcType="VARCHAR"/>
        <result property="isFileIo" column="is_file_io" jdbcType="TINYINT"/>
        <result property="ioReadFileName" column="io_read_file_name" jdbcType="VARCHAR"/>
        <result property="ioWriteFileName" column="io_write_file_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,problem_id,title,author,time_limit,memory_limit,stack_limit,description,source,difficulty,auth,judge_mode,spj_code,spj_language,modified_user,is_file_io,io_read_file_name,io_write_file_name,create_time,update_time
    </sql>

    <select id="selectProblemTagsByPids" resultType="com.chuan.wojmodel.pojo.dto.problem.ProblemTagDTO">
        SELECT pt.pid, t.name AS problemName
        FROM problem_tag pt
        JOIN tag t ON pt.tid = t.id
        WHERE pt.pid IN
        <foreach item="id" collection="pids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="getProblemIdList" resultType="java.lang.Long">
        SELECT id FROM problem
    </select>

</mapper>
