<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuan.wojwebservice.mapper.ProblemStatsMapper">

    <resultMap id="BaseResultMap" type="com.chuan.wojmodel.pojo.entity.ProblemStats">
            <id property="pid" column="pid" jdbcType="BIGINT"/>
            <result property="acCount" column="ac_count" jdbcType="INTEGER"/>
            <result property="waCount" column="wa_count" jdbcType="INTEGER"/>
            <result property="tleCount" column="tle_count" jdbcType="INTEGER"/>
            <result property="mleCount" column="mle_count" jdbcType="INTEGER"/>
            <result property="reCount" column="re_count" jdbcType="INTEGER"/>
            <result property="ceCount" column="ce_count" jdbcType="INTEGER"/>
            <result property="seCount" column="se_count" jdbcType="INTEGER"/>
            <result property="totalSubmissions" column="total_submissions" jdbcType="INTEGER"/>
            <result property="totalAttemptedUsers" column="total_attempted_users" jdbcType="INTEGER"/>
            <result property="solvedUsers" column="solved_users" jdbcType="INTEGER"/>
            <result property="lastSubmittedAt" column="last_submitted_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        pid,ac_count,wa_count,tle_count,mle_count,re_count,
        ce_count,se_count,total_submissions,total_attempted_users,solved_users,
        last_submitted_at
    </sql>
    <select id="getByPid" resultType="com.chuan.wojmodel.pojo.entity.ProblemStats">
        SELECT * FROM problem_stats WHERE pid = #{pid}
    </select>

    <update id="incrementStats">
        UPDATE problem_stats
        SET total_submissions = total_submissions + 1,
            ac_count  = ac_count  + (CASE WHEN #{result} = 'Accepted'  THEN 1 ELSE 0 END),
            wa_count  = wa_count  + (CASE WHEN #{result} = 'Wrong Answer'  THEN 1 ELSE 0 END),
            tle_count = tle_count + (CASE WHEN #{result} = 'Time Limit Exceeded' THEN 1 ELSE 0 END),
            mle_count = mle_count + (CASE WHEN #{result} = 'Memory Limit Exceeded' THEN 1 ELSE 0 END),
            re_count  = re_count  + (CASE WHEN #{result} = 'Runtime Error'  THEN 1 ELSE 0 END),
            ce_count  = ce_count  + (CASE WHEN #{result} = 'Compilation Error'  THEN 1 ELSE 0 END),
            se_count  = se_count  + (CASE WHEN #{result} = 'Segmentation Fault'  THEN 1 ELSE 0 END)
        WHERE pid = #{pid}
    </update>
</mapper>
