<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuan.wojuserservice.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.chuan.wojmodel.pojo.entity.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="unionId" column="union_id" jdbcType="VARCHAR"/>
        <result property="openId" column="open_id" jdbcType="VARCHAR"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="profile" column="profile" jdbcType="VARCHAR"/>
        <result property="school" column="school" jdbcType="VARCHAR"/>
        <result property="course" column="course" jdbcType="VARCHAR"/>
        <result property="number" column="number" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="TINYINT"/>
        <result property="github" column="github" jdbcType="VARCHAR"/>
        <result property="blog" column="blog" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="signature" column="signature" jdbcType="VARCHAR"/>
        <result property="titleName" column="title_name" jdbcType="VARCHAR"/>
        <result property="titleColor" column="title_color" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,union_id,open_id,account,password,name,
        profile,school,course,number,gender,
        github,blog,avatar,signature,title_name,
        title_color,create_time,update_time,is_delete
    </sql>

    <select id="selectUserListWithDeleted" resultType="com.chuan.wojmodel.pojo.entity.User">
        SELECT * FROM user
        <where>
            <if test="searchDTO.id != null and searchDTO.id != ''">
                AND id = #{searchDTO.id}
            </if>

            <if test="searchDTO.userAccount != null and searchDTO.userAccount != ''">
                AND account = #{searchDTO.userAccount}
            </if>
            <if test="searchDTO.userName != null and searchDTO.userName != ''">
                AND name LIKE CONCAT('%', #{searchDTO.userName}, '%')
            </if>
            <if test="searchDTO.school != null and searchDTO.school != ''">
                AND school LIKE CONCAT('%', #{searchDTO.school}, '%')
            </if>
            <if test="searchDTO.number != null and searchDTO.number != ''">
                AND number = #{searchDTO.number}
            </if>
            <if test="searchDTO.gender != null">
                AND gender = #{searchDTO.gender}
            </if>
            <if test="searchDTO.isDelete != null">
                AND is_delete = #{searchDTO.isDelete}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectRoleNamesByUids" resultType="com.chuan.wojmodel.pojo.dto.role.UserRoleDTO">
        SELECT ur.uid, r.role as roleName
        FROM user_role ur
        JOIN role r ON ur.role_id = r.id
        WHERE ur.uid IN
        <foreach item="id" collection="uids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


</mapper>
